node_modules/
.pnpm-store/

/dist
/build

.env
.env.local
.env.development.local
.env.test.local
.env.production.local

logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

.idea/
.vscode/
*.swp
*.swo
.DS_Store

/coverage
/.nyc_output

*.tsbuildinfo
